<%- include ('./partiels/header.ejs') %>
<body>
    <%- include ('./partiels/navbar.ejs') %>
    <div class="container">
        <% perguntas.forEach(pergunta =>{%>
            <p><%= pergunta.titulo%></p>
        <%})%>
    </div>
    <hr>
    <h2>Perguntas</h2>
</body>

</html>