<%- include ('./partiels/header.ejs') %>

    <body>
        <link rel="stylesheet" href="/css/naoEncontrado.css">
        <%- include ('./partiels/navbar') %>
        <br>
        <img src="/img/img_3.jpg" alt="Página não  encontrada">

    </body>

</html>