
<%- include ('./partiels/header.ejs') %>
<body>
    <%- include ('./partiels/navbar.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <!--fim card-header-->

            <div class="card-body">
                <form action="/salvarpergunta" method="POST">
                    <label for="titulo">Título</label>
                    <input class="form-control" type="text" id="titulo" placeholder="título" name="titulo" required maxlength="50" minlength="4">

                    <br><label for="descricao">Descrição</label>
                    <textarea class="form-control" name="descricao" id="descricao" cols="30" rows="10"
                        placeholder="descreva sua pergunta" required minlength="10"></textarea>
                    <br>
                  <button class="btn btn-primary">perguntar</button> 
                </form>
            </div>
            <!--fim card-body-->
        </div>
        <!--fim card-->
    </div>
    <!--fim do container-->
</body>

</html>