<%- include ('./partiels/header.ejs') %>
<body>
    <%- include ('./partiels/navbar.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1><%= p.titulo %></h1>
            </div>
            <form >
                <label for="corpo"><h3>Resposta</h3></label>
                <textarea name="corpo" id="corpo" placeholder="Digite sua resposta" class ="form-control"></textarea>
                <br>
                <input type="text" name="pergunta" value="<%= p.id %>">
                <button type ="submit" class="btn btn-primary">Enviar resposta</button>
            </form>
            
        </div>
        
    </div>
   
   
</body>

</html>

